{%extends "base_generic.html"%}

{%block title%}
<title>All Authors</title>
{%endblock%}

{%block content%}
<h1>Author List</h1>
{%if author_list%}
<ul>
    {%for author in author_list%}
    <li>
        <!-- <a href="{{author.get_absolute_url}}">{{author.first_name}}, {{author.last_name}} ({%if author.date_of_birth%}{{author.date_of_birth}}{%endif%} - {%if author.date_of_death%}{{author.date_of_death}}{%else%}Not Available{%endif%})</a> -->
        <a href="{{author.get_absolute_url}}">{{author}}({%if author.date_of_birth%}{{author.date_of_birth}}{%endif%} - {%if author.date_of_death%}{{author.date_of_death}}{%else%}Not Available{%endif%})</a>
    </li>
    {%endfor%}
</ul>
{%else%}
<p>There are no Authors with the description in the library</p>
{%endif%}
{%endblock%}

<!-- The generic view will query the database to get all records for the specified model (Book) then render a template located at /locallibrary/catalog/templates/catalog/book_list.html (which we will create below). Within the template you can access the list of books with the template variable named object_list OR book_list (i.e. generically "the_model_name_list"). -->

